*************** Reset *********************
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
/*************** fonts *********************/
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
/*************** farver *********************/
.color1 {
  color: #2f312c;
}
.color2 {
  color: #a7ab8f;
}
.color3 {
  color: #efe5d8;
}
.color4 {
  color: #1f210c;
}
.color5 {
  color: #705338;
}

/*************** font formats *********************/
h1 {
  color: #1f210c;
  margin-block: 2rem 1rem;
  font-family: "Bebas Neue", sans-serif;
  font-size: 5.5rem;
}
h2 {
  color: #2f312c;
  margin-block: 2rem 0.8rem;
  font-family: "Montserrat";
  font-size: 40px;
  font-style: normal;
  overflow-wrap: break-word;
  hyphens: auto;
  font-size: 2.5rem;
}
h3 {
  color: #384026;
  margin-block: 2rem 0.8rem;
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-style: normal;
}
p {
  color: #705338;
  margin-block: 2rem 1rem;
  font-family: "Montserrat";
  font-size: 1rem;
}
dl {
  color: #705338;
  margin-block: 2rem 1rem;
  font-family: "Montserrat";
  margin-block: 2rem;
  margin-left: 2rem;
}
dt {
  font-size: 20px;
}
dd {
  font-size: 1rem;
  margin-bottom: 2rem;
}

body {
  background-color: #efe5d8;
}

/*************** sider *********************/

.minforside {
  background-color: #1f210c;
}

.minforside p {
  color: #efe5d8;
}
.minforside h2 {
  color: #c9b08f;
}
.minforside h1 {
  color: #c9b08f;
}

.minforside dl {
  color: #efe5d8;
}
.minforside {
  max-width: 720px;
  margin: 0 auto;
  padding: 40px 24px;
}

.galleriside {
  max-width: 720px;
  margin: 0 auto;
  padding: 40px 24px;
}

.komponenterside {
  max-width: 720px;
  margin: 0 auto;
  padding: 40px 24px;
}

.operativside {
  max-width: 720px;
  margin: 0 auto;
  padding: 40px 24px;
}

.mincomputerside {
  max-width: 720px;
  margin: 0 auto;
  padding: 40px 24px;
}