.font {font-family: 'MyFont', sans-serif;}
font-face {
  font-family: 'MyFont';
  src: url('../fonts/myfont.eot');
  src: url('../fonts/myfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/myfont.woff2') format('woff2'),
       url('../fonts/myfont.woff') format('woff'),
       url('../fonts/myfont.ttf') format('truetype'),
       url('../fonts/myfont.svg#MyFont') format('svg');
  font-weight: normal;
  font-style: normal;
}
